{% extends "fronternd_temp.html" %}

{% block addcss %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% endblock %}

{% block head_menu %}
{% include 'elements/header_two.html' %}
{% endblock %}


{% block body %}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- MAIN -->
            <main id="main" class="col-md-9">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center">
                            <h2 class="title">Actualité</h2>
                            <p class="sub-title"><b></b></p>
                        </div>
                    </div>

                        {%for post in posts.items%}
                        <div class="col-md-4">
                            <div class="article">
                                <div class="article-img">
                                    <a href="{{url_for('main.actualite_vue', contenu_id=post.id, slug=post.slug)}}">
                                        <img src="{{url_for('static', filename='posts/thumb/'+post.thumb)}}" alt="">
                                    </a>
                                </div>
                                <div class="article-content">
                                    <h3 class="article-title"><a href=" {{url_for('main.actualite_vue', contenu_id=post.id, slug=post.slug)}} ">{{ post.titre }}</a></h3>
                                    <ul class="article-meta">
                                        <li>Par <span class="label label-info">{{ post.cont_user.prenom }}</span></li>
                                        <li>
                                            <span class="label label-warning">{{ post.date_p.strftime('%d-%m-%Y') }}</span>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                
                        <!-- pagination -->
                    <div class="col-md-12">
                        <ul class="article-pagination">
                            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_num %}
                            {% if posts.page==page_num %}
                            <li><a class="active"
                                    href="{{ url_for('main.actualite', page=page_num) }}">{{ page_num}}</a></li>
                            {% else %}
                            <li><a href="{{ url_for('main.actualite', page=page_num) }}">{{ page_num}}</a></li>
                            {% endif %}
                            {% else %}
                            ...
                            {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
            </main>

            <aside id="aside" class="col-md-3">
                <br><br>
                
                {%if ver_rapport=='NoVide'%}
                <div class="widget">
                    <h4> Resultat des sondages</h4>
                    <div class="widget-category">
                        <ul>
                            {%for rapport in encours_rapport%}

                            <li><a
                                    href=" {{url_for('main.sondage_rapport', sond_id=rapport.id)}} ">{{rapport.titre}}</a>
                            </li>

                            {%endfor%}
                        </ul>
                    </div>
                </div>
                {%endif%}

                {%if posts_pop_ver=='NoVide'%}
                <div class="widget">
                    <h4>Les articles populaires</h4>
                    <!-- single post -->
                    {%for post in posts_pop%}
                    <div class="widget-post">
                        <a href="#">
                            <div class="widget-img">
                                <img src="{{url_for('static', filename='posts/thumb/'+post.thumb)}}" alt="">
                            </div>
                            <div class="widget-content">
                                {{post.titre}}
                            </div>
                        </a>
                        <ul class="article-meta">
                            <li>Par {{ post.cont_user.prenom }}</li>
                            <li>{{ post.date_p.strftime('%d-%m-%Y') }}</li>
                        </ul>
                    </div>
                    {%endfor%}
                </div>
                {%endif%}
                {%if ver_rubrique=='NoVide'%}
                <div class="widget">
                    <h4> Resultat des sondages</h4>
                    <div class="widget-category">
                        <ul>
                            {%for rubrique in rubrique_publication%}

                            <li><a
                                    href=" ">{{rubrique.nom}}</a>
                            </li>

                            {%endfor%}
                        </ul>
                    </div>
                </div>
                {%endif%}


            </aside>
            <!-- /ASIDE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
{% endblock %}
{% block footer %}

{% include 'elements/footer.html' %}
{% endblock %}

