{% extends "fronternd_temp.html" %}

{% block addcss %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% endblock %}

{% block head_menu %}
{% include 'elements/header_two.html' %}
{% endblock %}


{% block body %}

<div id="about" class="section"  style="margin-bottom: 0px;">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- about content -->
				<div class="col-md-12">
					<div class="section-title">
						<h1>Secteur de Lulenge.</h1>
					</div>
					<div class="about-content" style="font-size: large;">
						<p class="text-justify">
							         Peu après l’indépendance du Congo en 1960, le Secteur de LULENGE a été sujet à 
							une longue période de crise sans précédent dans son histoire : la rébellion muleliste 
							qui a commencé dans la Province de Bandundu s’est répandue dans tout le pays pour finalement 
							créer son bastion dans le Secteur de LULENGE (HEWA BORA) et cela jusqu’en 1986 - 1997. 
							Les conséquences néfastes étaient nombreuses. 
						</p><br>

						<p class="text-justify">
							Pendant que la population se remettait peu à peu de ces événements malheureux, 
							la guerre dite de « libération » survenue en octobre 1996, va encore aggraver 
							la situation socio-économique qui était déjà alarmante. La victoire de Laurent 
							Désiré KABILA sur le régime dictatorial du Maréchal Mobutu ne va être que d’une courte durée. 
						</p><br>

						<p class="text-justify">
							En effet, en Août 1998, une autre guerre « sans nom », celle du Rassemblement Congolais pour la Démocratie va voir le jour et sera accompagnée des conséquences innombrables. 
							Ces deux guerres ont été vécues en Secteur de LULENGE comme les manifestations de conflits ethniques qu’elles ont exacerbées (BUYU – BEMBE – BANYAMULENGE) et qui a laisse à 
							ce que cette population reste en brousse pendant 7 mois sans aucune assistance humanitaire. Et tant d’autres guerres qui ce sont produites dans ce secteur tel que : 
							la guerre des 1998 – 2002 opérations KIMIA II, les affrontements de 2009 – 2010 opération SOKOLA II, dès 2012 jusqu’à nos jours il 
							y a toujours des affrontements en répétition des différents groupes MAI MAI YAKUTUMBA. En plus de déplacés et refuge massif de la 
							population de Secteur de LULENGE vers la Province du MANIEMA, Secteur de NGANDJA et les pays voisins, dont un bon nombre se trouve 
							en Tanzanie, le bilan de conséquences de ces deux guerres dans ce Territoire fait état de:
						</p><br>

						<p class="text-justify">
							- Dégâts humains caractérisés par la perte de vies humaines, la séparation des familles, l’invalidité et la vulnérabilité accrue, des Veufs/veuves, orphelins ; <br>
							- Dégâts sociaux et matériels caractérisés par la destruction des infrastructures socio-économiques : routes, hôpitaux, centres de santé, dispensaires, postes de santé, les écoles, 
							les adductions d’eau, la non scolarisation des enfants, le viol massif des femmes, la destruction de la quasi-totalité des habitations, la recrudescence des différentes maladies épidemio-endémiques, 
							une transmission inquiétante du VIH/SIDA et IST ; <br>
							- Dégâts psycho-mentaux: les traumatismes de victimes des guerres, la haine, la méfiance intercommunautaire, l’importation de la 
							culture de tuerie, déchéance des valeurs coutumières surtout celles liées au pouvoir coutumier, la délinquance juvénile. <br> 
						</p><br>

						<p class="text-justify">
							En ce moment où la population du Secteur de LULENGE est en train de sortir de brousse, il se pose plusieurs 
							besoins sur le plan socio-économique, notamment la réinstallation et réhabilitation de leurs maisons, la 
							réhabilitation des infrastructures, le redémarrage du développement et la pacification.  
						</p><br>

						<p class="text-justify">
							Avec l’avancée dans le processus de démocratisation des institutions par la mise en place de nouvelles 
							institutions républicaines (ETD), la population de LULENGE attend beaucoup du SECTEUR, Gouvernement 
							PROVINCIAL ET NATIONAL dans ce processus du redémarrage de son développement socio-économique et des 
							réponses à ses nombreux besoins individuels et communautaires. C’est le défi que se proposent de relever 
							le Secteur qui est une Entité Territoriale Décentralisée en vue de faciliter l’intégration de préoccupation 
							de leur base dans le programme du gouvernement provincial du Sud-Kivu. 
						</p><br>


						
						
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
</div>
<div id="cta" class="section">
	<!-- background section -->
	<div class="section-bg" style="background-image: url(&quot;./static/lelunge.jpg&quot;); background-position: -25px -142.792px;" data-stellar-background-ratio="0.1"></div>
	<!-- /background section -->

	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- cta content -->
			<div class="col-md-offset-2 col-md-8">
				<div class="cta-content text-center">
					<h1>La vie à Lulenge</h1>
					<a href="{{url_for('main.contact')}}" class="primary-button">Rejoignez - nous !</a>
				</div>
			</div>
			<!-- /cta content -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>

<div id="about" class="section" style="background-color:#FEFEFE; margin-top: 0px;">
	<!-- /container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- about content -->
			<div class="col-md-12">
				<div class="section-title">
					<h2>Domaines du secteur Lulenge.</h2>
				</div>
				<div class="about-content" style="font-size: large;">
					<div class="row">
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine sociale:</h4>
								<p>
									- Créer des centres d’encadrement social pour l’alphabétisation, créatif des enfants traumatisés, l’éducation des femmes et centres pour handicapés ; <br>
									- Construire et réhabiliter les infrastructures sociales : centres de santé, écoles, Marchés, postes de santé, … ; <br>
									- Réinsérer et réintégrer socialement et économiquement les jeunes démobilisés (Abandonnés du groupes Armées) et les handicapés physiques de guerres ; <br>
									- Appuyer les efforts d’amélioration de l’Habitat ; <br>
									- Promouvoir le statut et les conditions socio-culturelles de femmes dans le Secteur de LULENGE; <br>
									- Promouvoir l’emploi par la création des PME (Rizerie, pêcherie, briqueteries, savonneries, huileries, cimenteries, industrie cotonnière, pétrolière et minières…) ; <br>
									- Appuyer les Associations locales, les confessions religieuses et de ONG de Développement ; <br>
									- Appuyer les actions de pacification inter et intracommunautaire. 
								</p>

							</div>
						</div>
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine de la santé:</h4>
								<p>
									- Réhabiliter les infrastructures sanitaires existantes et en construire de nouvelles : hôpitaux de référence (KILEMBWE), centres de santé (KISANYA, IBUMBA, NONJWA, KASOLELO, BIBIZI, KIHUNGWE, …) et postes de santé,… ; <br>
									- Construire une maternité moderne à KILEMBWE et MINEMBWE; <br>
									- Recycler le personnel médical et para-médical en stratégie de soins du Secteur de LULENGE ; <br>
									- Subventionner l’Institut Technique Médical de Kilembwe; <br>
									- Approvisionner la population des grandes agglomérations en eau potable et aménagement des certaines sources d’eau dans différents villages; <br>
									- Appuyer la zone de santé de KIMBI – LULENGE en équipement, matériel de laboratoire, en matériel roulant, Bâtiments administratifs; <br>
									- Appuyer le programme de lutte contre le VIH/SIDA et les IST et Lèpres et Tuberculose. <br>  <br>

								</p>

							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine de l'éducation:</h4>
								<p>
									- Construire les infrastructures scolaires (7 écoles primaires et 5 écoles secondaires); <br>
									- Réhabiliter et équiper les écoles primaires et secondaires en mobiliers, matériels et fournitures ; <br> 
									- Créer les centres de récupération des enfants déscolarisés ; <br>
									- Appuyer la scolarisation des enfants indigents et des filles ; <br>
									- Créer des écoles professionnelles (maçonnerie, menuiserie et agro-vétérinaire) ; <br>
									- Appuyer la construction et le fonctionnement d’une Université/Institut Supérieur agréés en Territoire de Fizi ; <br>
									- Appuyer le recyclage des enseignants des écoles primaires et secondaires ; <br>
									- Construire le Bureau de la Sous-Division et SECOP de l’EPSP et des centres de recherches à Kilembwe ; <br>
									- Encourager la scolarisation des filles; <br>
									- Promouvoir la politique d’appui à la création des écoles, et Instituts privés ; 

								</p>

							</div>
						</div>
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine d'agriculture:</h4>
								<p>
									- Approvisionner la population en intrants agricoles et en produits phyto-sanitaires ; <br>
									- Introduire des semences améliorées dans le milieu ; <br>
									- Appuyer la vulgarisation des nouvelles techniques agricoles ; <br>
									- Construire les infrastructures d’écoulement et de transformation des produits agricoles : marchés, presse à huile, création des banques semencières; <br>
									- Appuyer la réhabilitation des routes des dessertes agricoles (MINEMBWE – KISANGA : 30Km, KAGEMBE – MINEMBWE : 80Km, KAGEMBE – LWIKO : 80Km, KAGEMBE – MAINDOMBE,  KAYUMBA – KIHUNGWE – MAKOLA – OBEKULU – KILEMBWE via KATUPU) ; <br>
									- Encadrer les agriculteurs (Entraide communautaire) ; <br>
									- Créer les PME agro-industrielles ; <br><br><br><br>

								</p>

							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine d’élevage :</h4>
								<p>
									- Approvisionner la population en géniteurs de races améliorées ; <br>
									- Appuyer la formation de la population en techniques d’élevage ; <br>
									- Réhabiliter et construire les infrastructures d’élevage (dipping-tank, dispensaire vétérinaire, pharmacie vétérinaire,…) ; <br>
									- Vulgariser les techniques modernes de l’élevage : culture fourragère,… ; <br>
									- Vulgariser la pisciculture ; <br>
									- Appuyer l’élevage de petits bétails et des oiseaux de la basse-cour (poules, canards, cobailles, lapins, …). <br>
								</p>

							</div>
						</div>
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine de l’environnement :</h4>
								<p>
									 
									- Créer les sites touristiques dans la forêt HEWA BORA ; <br>
									- Protéger la faune et la flore terrestre par l’interdiction de feu de brousse et l’exploitation irrationnelle ; <br>
									- Interdire la chasse des animaux dans la forêt BITONGO ; <br>
									- Electrifier les chefs – lieux de Secteur et certains villages ; <br>
									- Aménager les avenues de KILEMBWE Centre. <br><br><br><br><br><br><br>


								</p>

							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine agro-industriel :</h4>
								<p> 
									- Créer des unités agro-industrielles et agro-alimentaires ;  <br>
									- Appuyer la mécanisation agricole. <br><br><br><br><br>

								</p>

							</div>
						</div>
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine artisanal : </h4>
								<p>							
								- Appuyer et encourager les activités artisanales associatives et industrielles pilotes ; <br>
								- Renforcer les activités d’artisanat par des crédits ; <br>
								- Créer des centres de formation professionnelle des jeunes ; <br>
								- Promouvoir les technologies traditionnelles (vannerie, forge, poterie, presse à huile,…). 
								</p>

							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine du commerce : :</h4>
								<p> 
																		
								- Appuyer la population entreprenante par des crédits petit commerce ; <br>
								- Créer des banques populaires ; <br>
								- Renforcer l’organisation des coopératives d’épargne et de crédit ; <br>
								- Créer des petites et moyennes entreprises pour absorption du chômage ; <br>
								- Appuyer les activités génératrices de revenu des femmes ; <br>
								- Plaider pour une gestion rationnelle des biens publics et les ressources naturelles par les hommes politiques ou fonctionnaires de l’Etat. 
								</p>

							</div>
						</div>
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine culturel :  </h4>
								<p>	
									- Appuyer les activités culturelles des jeunes : sport, théâtre, bibliothèque, etc. ; <br>
									- Encourager les mariages mixtes et/ou interethniques ; <br>
									- Créer des centres culturels dans les principaux centres d’agglomération ; <br>
									- Réhabiliter les valeurs culturelles, éthiques et morales Bembe (mariage, dot, normes, mœurs et coutumes) ; <br>
									- Promouvoir le genre ; <br>
									- Encourager les modes traditionnels de transformation des conflits. <br><br>
									
								</p>

							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine des infrastructures : </h4>
								<p> 
																		
									
									- Appuyer la réhabilitation de Centre Hydro-électrique de MAGEMBE; <br>
									- Créer et réaménager  les routes de desserte agricole et des routes secondaires (MINEMBWE – KISANGA : 30Km, KAGEMBE – MINEMBWE : 80Km, KAGEMBE – LWIKO : 80Km, KAGEMBE – MAINDOMBE :……, KAYUMBA – KIHUNGWE – MAKOLA – OBEKULU – KILEMBWE via KATUPU) ; <br>
									- Appuyer la réhabilitation de la route LULIMBA – KILEMBWE – SALAMABILA - KINDU ; <br>
									- Encourager l’installation des infrastructures de communication et de télécommunication, de Radio-télévision, internet, etc. ;<br> 
									- Urbaniser les centres de KILEMBWE et MINEMBWE ; <br>
									- Accorder à la population Déplacée et Retournée des crédits pour la reconstruction (crédit agricole et crédit pour l’habitat) ; <br>
									- Electrifier KILEMBWE Centre et ses environs par le barrage de MAGEMBE ; <br>
									- Réhabiliter et construire des adductions d’eau potables ; <br>
									- Réhabiliter l’aérodrome de Kilembwe ou le micro-barrage de la chute de BIBIZI;<br>
									- Construire le Commissariat de la POLICE et d’un Bâtiment des Bureaux des services Etatiques. <br>
									<br><br><br><br><br>	
								</p>

							</div>
						</div>
						<div class="col-md-6">
							<div class="well well-lg box-shadow--3dp">
								<h4>Domaine Politique :   </h4>
								<p>	
									
								- Identifier et contrôler systémiquement et d’une manière permanente les mouvements 
									migratoires surtout les FDLR se trouvant dans le Secteur sans un aucun Statut et faire 
									rapport aux services spécialisés de l’Etat ; <br>
								- Cultiver l’esprit du patriotisme et de convivialité au sein du territoire ; <br>
								- Plaider pour le casernement des militaires ; <br>
								- Assurer la sécurité des personnes et de leurs biens ; <br>
								- Faire respecter les droits humains ; <br>
								- Restituer l’histoire réelle du secteur de LULENGE;<br> 
								- Favoriser l’émergence de Leaders ; <br>
								- Travailler pour la cohésion du Secteur ; <br>
								- Identifier et désarmer les bandes armées et les détenteurs illégaux des armes de guerre; <br>
								- Renforcer l’encadrement des militaires et des agents de l’ordre ; <br>
								- Répondre aux devoirs civiques et patriotiques (Enrôlement, vote…) ; <br>
								- Evaluer régulièrement les actions de mandataires politiques; <br>
								- Réhabiliter le statut du chef coutumier et son pouvoir politique ; <br>
								- Eduquer la population à la citoyenneté responsable et sa participation au processus de bonne gouvernance en cours ; <br>
								- Combattre la corruption et l’impunité ; <br>
								- Orienter et accompagner les actions des ONGs; <br> 
								- Impliquer et encadrer les populations locales pour le développement intégral de leur milieu. 

									
								</p>

							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
</div>

	
<div id="cta" class="section">
	<!-- background section -->
	<div class="section-bg" style="background-image: url(&quot;./static/vegetation.jpg&quot;); background-position: -25px -142.792px;" data-stellar-background-ratio="0.5"></div>
	<!-- /background section -->

	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- cta content -->
			<div class="col-md-offset-2 col-md-8">
				<div class="cta-content text-center">
					<h1>Bienvenu à Lulenge</h1>
					<p class="lead" style="font-weight:900; color:black;">Découvre cette partie de la planète où l’environnement, le tourisme, l’humanitaire
						et au cœur du développement.</p>
						<a href="{{url_for('main.contact')}}" class="primary-button">Rejoignez - nous !</a>
				</div>
			</div>
			<!-- /cta content -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>

{% endblock %}
{% block footer %}
{% include 'elements/footer.html' %}
{% endblock %}