{% extends "basetwo.html" %}
{% block body %}

<!-- Les domaines du secteur de Lulenge -->
<section class="service-arrow" style="margin-top:10px"
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 bg-success">
				<div class="block">
					<i class="ion-ios-people"></i>
					<h3>Social</h3>
					<p class="text-justify" style="color:black">La promotion du Social fait parti des prioprité du secteur de Lulenge, le statut socio-culturel, l'économie qui sont les élements du bien-être sont indispensable, dans ce souci que le secteur à des multiples projet.</p>
                
                    <a href="" class="btn btn-sm btn-danger">Plus</a>
                </div>
			</div>
			<div class="col-md-4 bg-danger">
				<div class="block">
					<i class="ion-heart-broken"></i>
					<h3>Santé</h3>
					<p class="text-justify" style="color:black"> Vivre dans une situation harmonieuse, est la promotion de la santé, ainsi à Lulenge la réhabilitation des infrastructure sanitaire et les nouvelles construction.</p>
                    <a href="" class="btn btn-sm btn-info">Plus</a>
                </div>
			</div>
			<div class="col-md-4 bg-primary">
				<div class="block">
					<i class="ion-lightbulb"></i>
					<h3>Education</h3>
					<p class="text-justify">L'éducation est la clé de toute développement humaine, le secteur interviens dans la construction, la réhabilitation et l'innovation des infrastructure éducationnelle pour l'élite de demain</p>
                    <a href="" class="btn btn-sm btn-warning">Plus</a>
                </div>
			</div>
		</div>
	</div>
</section>
<!-- fin des domaines -->

<!-- Secteur de Lulenge -->
<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12">
				<div class="block">
					<div class="section-title">
						<h2>Secteur de Lulenge</h2>
						<p>Ensemble pour le progrès, Maendeleo Mbele, Pamoja Tunaweza</p>
					</div>
					<p class="text-justify">
                            Peu après l’indépendance du Congo en 1960, le Secteur de LULENGE a été sujet à une longue période de crise sans précédent dans son histoire : la rébellion muleliste qui a commencé dans la Province de Bandundu s’est répandue dans tout le pays pour finalement créer son bastion dans le Secteur de LULENGE (HEWA BORA) et cela jusqu’en 1986 – 1997. Les conséquences néfastes étaient nombreuses. <br><br>

                            Pendant que la population se remettait peu à peu de ces événements malheureux, la guerre dite de « libération » survenue en octobre 1996, va encore aggraver la situation socio-économique qui était déjà alarmante. La victoire de Laurent Désiré KABILA sur le régime dictatorial du Maréchal Mobutu ne va être que d’une courte durée.
                    </p>
                    <a href="" class="btn btn-success">Lire la suite</a>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5 col-sm-12">
				<div class="block">
					<img src="{{ url_for('static',filename='other/d.jpg')}}" class="img img-responsive" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
    </div>
<!-- fin secteur de Lulenge -->
</section>


<!--Vide on youtube-->
<section class="promo-video overlay section" style="background-image: url( {{ url_for('static',filename='other/lu.jpg') }} )">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-white mb-20 font-weight-normal">Suivez-nous <br> En Vidéo</h1>
                <div class="d-flex">
                    <a class="popup-youtube play-icon mr-4" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">
                        <i class="ion-ios-play"></i>
                    </a>
                    <p class="text-white align-self-center h4">Secteur de  Lulenge.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Fin video-->
<div class="container" style="margin-top:30px">
		<div class="row">
			{% for post in posts %}
			<div class="col-md-6 ">
				  <div class="post">
					<div class="post-thumb">
					  <a href="blog-single.html">
						<img class="img-responsive" src=" {{  url_for('static', filename='posts/thumb/'+post.thumb) }}" alt="">
					  </a>
					</div>
					<h3 class="post-title"><a href="#">{{ post.titre }}</a></h3>
					<div class="post-meta">
					  <ul>
						<li>
						  <i class="ion-calendar"></i> {{ post.date_post.strftime('%d-%m-%Y') }}
						</li>
						<li>
						  <i class="ion-android-people"></i> Poster Par {{ post.cont_user.prenom }}
						</li>
						<li>
						  <a href="#"><i class="ion-pricetags"></i> Tags</a>,<a href="#"> {{ post.rub_cont.nom }}</a>
						</li>
						
					  </ul>
					</div>
					<div class="post-content">
					  <p class="text-justify">
							{{ post.cont[:320]|markdown}} 
						 </p>
					  <a href="blog-single.html" class="btn btn-danger">Lire la suite</a>
					</div>
				  </div>
			  </div>
			{% endfor %}


	  </div>
</div>

<!--Sondage-->
<section class="call-to-action bg-1 section-sm overly">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h2>Sondage d'option</h2>
						<p>Merci de pouvoir participer aux sondages d'option sur notre secteur de Lulenge</p>
						<a data-toggle="modal" data-target="#myModal" class="btn btn-warning btn-large" href="#">SONDAGE</a>
					</div>
				</div>
			</div>
			 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
			  <p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		  </div>
	  </div>
	  </div>
	</section>
<!--Fin sondage -->

{% endblock %}