{% extends "fronterend.html" %}

{% block addcss %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% endblock %}

{% block menu_header %}
{% include 'elements/menu.html' %}

{% endblock %}

{% block slider %}
{% include 'elements/slider.html' %}
{% endblock %}

{% block body %}
<div id="about" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- about content -->
			<div class="col-md-5">
				<div class="section-title">
					<h1>Secteur de Lulenge.</h1>
				</div>
				<div class="about-content">
					<p class="text-justify">
						Peu après l’indépendance du Congo en 1960, le Secteur de LULENGE a été sujet à une longue
						période de
						crise sans précédent dans son histoire : la rébellion muleliste qui a commencé dans la Province
						de
						Bandundu s’est répandue dans tout le pays pour finalement créer son bastion dans le Secteur de
						LULENGE
						(HEWA BORA) et cela jusqu’en 1986 - 1997. Les conséquences néfastes étaient nombreuses.
					</p>
					<a href="#" class="primary-button">Savoir plus.</a>
					<br><br>
				</div>
			</div>
			<!-- /about content -->

			<!-- about video -->
			<div class="col-md-offset-1 col-md-6">
				<a href="#" class="about-video">
					<img src=" {{url_for('static', filename='other/d.jpg')}}  " alt="">
				</a>
			</div>
			<!-- /about video -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>

<div id="cta" class="section">
	<!-- background section -->
	<div class="section-bg" style="background-color:darkslategray; background-position: -25px -114.292px;"
		data-stellar-background-ratio="0.5"></div>
	<!-- /background section -->

	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- cta content -->
			<div class="col-md-offset-2 col-md-8">
				<div class="cta-content text-center">
					<h1>Bienvenu à Lulenge</h1>
					<p class="lead">Découvre cette partie de la planète où l’environnement, le tourisme, l’humanitaire
						et au cœur du développement.</p>
					<a href="#" class="primary-button">Rejoignez - nous !</a>
				</div>
			</div>
			<!-- /cta content -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>

<div id="blog" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-8 col-md-offset-2">
				<div class="section-title text-center">
					<h2 class="title">Dernières actualités</h2>
					<p class="sub-title">Trouver toutes les informations sur le secteur de Lulenge en ce qui concerne
						presque tout les domaines du secteur.</p>
				</div>
			</div>
			<!-- /section title -->

			{%for post in post%}
			<div class="col-md-4">
				<div class="article">
					<div class="article-img">
						<a href="single-blog.html">
							<img src="{{url_for('static', filename='posts/thumb/'+post.thumb)}}" alt="">
						</a>
					</div>
					<div class="article-content">
						<h3 class="article-title"><a href="single-blog.html">{{ post.titre }}</a></h3>
						<ul class="article-meta">
							<li> <span class="label label-info">{{ post.rub_cont.nom }}</span> <span
									class="label label-warning">{{ post.date_p.strftime('%d-%m-%Y') }}</span> </li>
							<li>Par <span class="label label-info">{{ post.cont_user.prenom }}</span></li>
							<li>
								{%if post.comment==0 or post.comment==1 %}
								{{post.comment}} Commentaire
								{%else%}
								{{post.comment}} Commentaires
								{%endif%}

							</li>
						</ul>
					</div>
				</div>
			</div>
			{%endfor%}
		</div>

		<div class="text-center">
			<button class="primary-button">Plus d'articles</button>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>

{%if ver_encours=="NoVide"%}
<div id="causes" class="section" style="background-color:honeydew; background-position: -25px -114.292px;"
data-stellar-background-ratio="0.5">
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="section-title text-center">
					<h2 class="title">Sondage</h2>
					<p class="sub-title"><b>Participer sur notre sondage sur ({{sondage_nom}}) en faisant votre choix.</b></p>
				</div>
			</div>

			{%for candidats in candidat%}
			<div class="col-md-4">
				<div class="causes box-shadow--3dp" style="padding: 10px; border-radius: 10px;">
					<div class="causes-img">
						<a href="">
							<img  src="{{url_for('static', filename='posts/thumb/'+candidats.avatar )}}">
							</a>
					</div> <br>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{ ((candidats.compteur)/total_sondage) * 100  }}"
						aria-valuemin="0" aria-valuemax="100" style="width: {{((candidats.compteur)/total_sondage) * 100|int }}%">
						{{((candidats.compteur)/total_sondage) * 100}}%
						</div>
					  </div> 
					<div class="causes-content text-center">
						<h4><span class="label label-info">{{candidats.noms}}-{{candidats.partie}}</span></h4>
						<form action=" {{url_for('sondage.vote', vote_id=candidats.id)}} " method="GET">
							<button class="btn btn-danger btn-md">Voté <small><span class="label label-info">{{candidats.compteur}}</span></small> </button>
						</form>
						</div>
				</div>
			</div>
			{%endfor%}
		</div>
		<div class="text-center">
			<a href=" {{url_for('main.sondage_vue')}} " class="primary-button">Voir d'autres candidats</a>
		</div>
	</div>
</div>
{%endif%}

{% endblock %}
{% block footer %}
{% include 'elements/footer.html' %}
{% endblock %}