{% extends "base.html" %}
{% block body %}

{% with messages= get_flashed_messages(with_categories=true) %}
						  {% if messages  %}
							{% for category, message in messages %}
							  <div class="alert text-center alert-{{ category }}">
								<b>{{ message }}</b>
							  </div>
							{% endfor %}
						  {% endif %}
                        {% endwith %}
                        
<div class="col-md-12">
    <div class="card card-plain">
        <div class="header">
            <h4 class="title">Liste des administrateurs</h4>
            <p class="category">Tous les utilisateurs avec les permissions</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th>Picture </th>
                    <th>Nom </th>
                    <th>Post-nom</th>
                    <th>Prénom</th>
                    <th>Actions</th>
                </tr></thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td> <img class="avatar border-white" src="  {{ url_for('static', filename='profil/'+ user.image_file) }}  " alt="lulenge" width="40px" height="40px"></td>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.post_nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>  
                                <div class="btn-group">
                                    {% if user.status == 1 %}
                                    <a href=" {{ url_for('users.statuts_id', user_id=user.id ) }} " class="btn btn-info btn-sm">
                                        <span class="ti-unlock"></span>
                                    </a>
                                    {% else %}
                                    <a href=" {{ url_for('users.statuts_id', user_id=user.id ) }} " class="btn btn-danger btn-sm">
                                            <span class="ti-lock"></span>
                                     </a>
                                    {% endif %}

                                    <a href=" {{ url_for('users.profil', user_id=user.id ) }} " class="btn btn-primary btn-sm">
                                            <span class="ti-user"></span>
                                     </a>

                                  </div>
                                </div></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

    </div>
</div>
</div>
{% endblock body %}




