{% extends "base.html" %}


{% block addcss %}
<script src=" {{ url_for('static', filename='summnernote/jquer.js')}} "></script>
<link rel="stylesheet" href="{{ url_for('static', filename='summnernote/summernote-lite.css')}} ">
<script src="{{ url_for('static', filename='summnernote/summernote-lite.js')}}"></script>
{% endblock %}


{% block body %}




<div class="row">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-8 col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Ajouter un article</h4>
            </div>
            <div class="content">
                <form method="POST" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        {% with messages= get_flashed_messages(with_categories=true) %}
						  {% if messages  %}
							{% for category, message in messages %}
							  <div class="alert text-center alert-{{ category }}">
								<b>{{ message }}</b>
							  </div>
							{% endfor %}
						  {% endif %}
						{% endwith %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Titre de l'article</label>
                                {% if form.titre.errors %}
                                {{ form.titre(class="form-control border-input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.titre.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.titre(class="form-control border-input")}}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-success">
                                <label>Contenue</label>                              
                                {% if form.cont.errors %}
                                {{ form.cont( id="summernote")}}
                                <div class="invalid-feedback">
                                    {% for error in form.cont.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.cont(id="summernote")}}
                                {% endif %}
                            </div>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Rubrique de l'article</label>
                                {% if form.rubrique.errors %}
                                {{ form.rubrique(class="form-control border-input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.rubrique.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.rubrique(class="form-control border-input")}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Image de l'article</label>
                                {% if form.picture.errors %}
                                {{ form.picture(class="form-control-file  is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.picture.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.picture(class="form-control-file ")}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                            {{ form.submit(class="btn btn-info btn-fill btn-wd") }}
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2"></div>
</div>
<!-- {{ simplemde.load_id("third") }} -->
{% endblock %}
