<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='other/d.jpg') }} ">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static',filename='other/d.jpg') }} ">
    <title>Connexion</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.css')}}">
    <!--external css-->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/font-awesome/css/font-awesome.css')}}"> 
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style-responsive.css')}}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">
	  	
		      <form class="form-login" method="POST">

				<h2 class="form-login-heading">Connectez-vous</h2>
				
		        <div class="login-wrap"> 
						{{ form.csrf_token }}
						{% with messages= get_flashed_messages(with_categories=true) %}
						  {% if messages  %}
							{% for category, message in messages %}
							  <div class="alert text-center alert-{{ category }}">
								<b>{{ message }}</b>
							  </div>
							{% endfor %}
						  {% endif %}
						{% endwith %}
						<br><br>
			{% if form.username.errors %}
              {{ form.username(class="form-control is-invalid")}}
              <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.username(class="form-control", id="username", placeholder="E-mail", autocomplete="off")}}
            {% endif %}
			  <br>
			{% if form.password.errors %}
              {{ form.password(class="form-control is-invalid")}}
              <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-control", id="password", placeholder="Mot de passe", autocomplete="off")}}
            {% endif %}
              <br>
            <div style="margin-right:2px; margin-top: 5px">
              {{ form.remember(class="form-check-input") }}
              {{ form.remember.label(class="form-check-label") }}
            </div>
              
            
		            <br><br>
					{{ form.submit(class="btn btn-theme btn-block") }}
			  		<br><br>
		        </div>
			
		      </form>	  	
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='assets/js/jquery.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js')}}" type="text/javascript"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script src="{{ url_for('static',filename='assets/js/jquery.backstretch.min.js')}}" type="text/javascript"></script>
    <script>
        $.backstretch("{{ url_for('static', filename='assets/img/login-bg.jpg') }}", {speed: 500});
    </script>


  </body>
</html>
