<div id="home-owl" class="owl-carousel owl-theme">
    <!-- home item -->
    <div class="home-item">
        <!-- section background -->
        <div class="section-bg" style="background-image: url(./static/frontend/img/lulenge.jpg);"></div>
        <!-- /section background -->

        <!-- home content -->
        <div class="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="home-content">
                            <h1>Bienvenu</h1>
                            <p class="lead">Une partie de la République Démocratique du Congo où l'environnement est respecté avec rigueur pour le bien du monde.</p>
                            <a href=" {{url_for('main.apropos_de_nous')}} " class="primary-button">Savoir plus.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /home content -->
    </div>
    <!-- /home item -->

    <!-- home item -->
    <div class="home-item">
        <!-- Background Image -->
        <div class="section-bg" style="background-image: url(./static/frontend/img/background-2.jpg);"></div>
        <!-- /Background Image -->

        <!-- home content -->
        <div class="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="home-content">
                            <h1>Un coin accueillant.</h1>
                            <p class="lead">Visite chez – nous, l’accueille est tellement chaleureux pour tout un individu, la couleur et la race ne pas chez nous, nous sommes tous un..</p>
                            <a href=" {{url_for('main.apropos_de_nous')}} " class="primary-button">Savoir plus.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /home content -->
    </div>
    <!-- /home item -->
</div>