/* 7. promo video section start */
.promo-video {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .promo-video p {
    font-family: "Work Sans", sans-serif;
  }

  .overlay {
    position: relative;
  }
  
  .overlay::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .6;
  }

  .section {
    padding: 100px 0;
  }

  .text-white{
    color:blanchedalmond;
  }