<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Secteur de Lulenge Fizi">
    <meta name="keywords" content="Secteur , Lulenge, Fizi,  Secteur de Lulenge Fizi, Fizi Lulenge, Actualité Fizi, Galerie Fizi, Sondage Fizi, Apropos de Lulenge Fizi">
    <meta name="author" content="Secteur de Lulenge Fizi">

	{% if title %}
        <title>  {{ title }} </title>
    {% else %}
        <title>  Secteur de Lulenge Fizi </title>
    {% endif %}

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400%7CSource+Sans+Pro:700" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='other/d.jpg') }} ">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static',filename='other/d.jpg') }} ">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='frontend/css/bootstrap.min.css')}}" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='frontend/css/owl.carousel.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='frontend/css/owl.theme.default.css')}}" />

	<!-- Font Awesome Icon -->
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='frontend/css/font-awesome.min.css')}}" />


	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='frontend/css/style.css')}}" />
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	{% block addcss %}{% endblock %}
</head>

<body>
	<!-- HEADER -->
	<header id="home">
		<!-- NAVGATION -->
		<nav id="main-navbar">
			<div class="container">
				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a class="logo" href=" {{url_for('main.homepage')}}  "><img src=" {{url_for('static', filename='other/logo.png')}}" alt="logo"></a>
					</div>
					<!-- Logo -->

					<!-- Mobile toggle -->
					<button class="navbar-toggle-btn">
							<i class="fa fa-bars"></i>
						</button>
					<!-- Mobile toggle -->

					<!-- Mobile Search toggle -->
					<button class="search-toggle-btn">
							<i class="fa fa-search"></i>
						</button>
					<!-- Mobile Search toggle -->
				</div>

				<!-- Search -->
				<div class="navbar-search">
					<button class="search-btn"><i class="fa fa-search"></i></button>
					<div class="search-form">
						<form>
							<input class="input" type="text" name="search" placeholder="Chercher">
						</form>
					</div>
				</div>
				<!-- Search -->

				<!-- Nav menu -->
				{% block menu_header %}{% endblock %}
				<!-- Nav menu -->
			</div>
		</nav>
		<!-- /NAVGATION -->

		<!-- HOME OWL -->
		{% block slider %}{% endblock %}
		<!-- /HOME OWL -->
	</header>
	<!-- /HEADER -->

	<!-- ABOUT -->
	{% block body %}{% endblock %}
	

	<!-- FOOTER -->
	{% block footer %}{% endblock %}
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script src="{{url_for('static', filename='frontend/js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='frontend/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='frontend/js/owl.carousel.min.js')}}"></script>
	<script src="{{url_for('static', filename='frontend/js/jquery.stellar.min.js')}}"></script>
	<script src="{{url_for('static', filename='frontend/js/main.js')}}"></script>


</body>

</html>
